/*import google fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Unica+One&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0 auto;
    background-color: grey;
}
h1, h2, h3, h4 {
    font-family: 'Unica One', cursive;
}
a {
    text-decoration: none;
}
main {
    padding: 15px;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #091f36;
}
.collapsing-nav {
    display: flex;
}
.nav-item {
    flex: 1 0 0;
    margin: 15px 0;
    padding: 5px 15px;
    text-align: center;
}
.nav-item a {
    color: white;
}
.nav-item:hover {
    background-color: goldenrod;
}
.icons-holder {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.icons-holder > * {
    margin: 5px;
}
.link-icon {
    height: 40px;
    width: auto;
}