/*import google fonts */
@import url('https://fonts.googleapis.com/css?family=Comfortaa:500|Roboto&display=swap');
/* border-box to all (does not include :before and :after) */
* {
    box-sizing: border-box;
}
/* html {
    scroll-behavior: smooth;
} */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0 auto;
    background-color: grey;
}
h1, h2, h3, h4 {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 500;
}
a {
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #DEDEDE;
    border-bottom: 3px solid #6f4c7d;
}
.responsive-image {
    max-width: 100%;
    height: auto;
    max-height: 80vh;
}
.collapsing-nav {
    display: flex;
    align-items: center;
    padding: 0 5px;
}
.nav-item {
    margin: 5px 0;
    padding: 5px 15px;
    text-align: center;
}
.nav-item a {
    color: #6f4c7d;
}
.nav-item:hover a {
    border-bottom: 2px dashed #6f4c7d;
}
.hamburger {
    display: none;
}
.hamburger > div {
    width: 35px;
    height: 5px;
    margin: 5px 0;
    background-color: #6f4c7d;
}
.icons-holder {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.icons-holder > * {
    margin: 5px;
}
.link-icon {
    max-height: 40px;
    width: auto;
}
.main-container {
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 3px 0 5px -3px black, -3px 0 5px -3px;
}
header {
    text-align: center;
    background-color: white;
    color: #6f4c7d;
    padding: 20px;
}
header h1 {
    margin: 0;
}
main {
    padding: 0 0 15px 0;
    background-color: white;
}
main h2 {
    text-align: center;
    background-color: #6f4c7d;
    border-bottom: 3px dashed #D0D0D0;
    border-top: 3px dashed #D0D0D0;
    padding: 20px 10px;
    margin: 0 0 20px;
    color: white;
}
main p {
    margin: 15px 20px;
}
main a {
    color: #6f4c7d;
}
main a:hover {
    border-bottom: 2px dashed #6f4c7d;
}
h3 {
    margin: 20px;
}
.profile-pic {
    float: right;
    width: 25%;
    max-width: 400px;
    min-width: 150px;
    height: auto;
    border-radius: 30%;
    border: 3px dashed grey;
    margin: 10px;
}
.clear {
    clear: both;
}
.overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal {
    margin: auto;
    display: block;
    width: 80%;
    text-align: center;
    opacity: 0;
}
.project-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}
.project h3 {
    text-align: center;
}
.project-links {
    text-align: center;
}
.top {
    text-align: right;
    padding: 10px;
}
footer {
    background-color: #DEDEDE;
    color: #363636;
    min-height: 40px;
    padding: 10px;
    border-top: 3px solid #6f4c7d;
    text-align: right;
}

@media (max-width: 500px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        /* min-height to cover hamburger with padding */
        min-height: 45px;
    }
    .hamburger {
        cursor: pointer;
        display: block;
        padding: 5px;
        position: absolute;
        align-self: flex-end;
    }
    .icons-holder {
        align-self: flex-start;
    }
    .collapse-hidden {
        display: none;
    }
    .collapsing-nav {
        flex-direction: column;
        align-items: flex-end;
        align-self: flex-end;
    }
    .project-container {
        display: block;
    }
}